ol {
  list-style: decimal;
  padding-left: 20px;
}
ul {
  list-style: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html {
  font-size: base-font-size;
}
body {
  font-family: font-sans, font-chs, sans-serif;
  background: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: #333;
  -webkit-overflow-scrolling: touch;
}
::selection {
  background: rgba(147,181,224,0.6);
  color: #fff;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: font-serif, serif;
  font-weight: bold;
}
h1,
h2,
h3 {
  display: block;
}
h1 {
  font-size: 1.6rem;
  font-family: "Segoe UI", font-sans, font-chs, sans-serif;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.15rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  outline-width: 0;
  color: #258fb8;
  outline: none;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.inner {
  width: 1000px;
  margin: 0 auto;
}
.hide {
  display: none;
}
@media screen and (max-width: 1040px) {
  .inner {
    width: 100%;
  }
}
